.ruby-version
*.gem
Gemfile.lock
/.bundle/
/log/*.log
/pkg/
/tmp/

.internal_test_app

# Setup local JavaScript ignores
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
yarn.lock

node_modules
package-lock.json
dist
/app/assets/javascripts/blacklight/allmaps