<!-- Georeferenced Map -->
<h3 class="h6">Georeferenced Map</h3>
<div id="allmaps-map" style="height: 400px;"></div>

<script src="https://cdn.jsdelivr.net/npm/@allmaps/leaflet/dist/bundled/allmaps-leaflet-1.9.umd.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const map = L.map('allmaps-map', {
      center: [43.063518, -89.3906863],
      zoom: 10,
      zoomAnimationThreshold: 1
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const annotationUrl = "https://annotations.allmaps.org/manifests/<%= document.sidecar.allmaps_id %>";

    // Used to be called outside MutationObserver
    // const warpedMapLayer = new Allmaps.WarpedMapLayer(annotationUrl);
    // warpedMapLayer.addTo(map);

    // Need to watch the DOM mutate to set the map size
    const geoTab = document.getElementById('georeferenced-tab');
    const observer = new MutationObserver(function(){
      if(geoTab.style.display != 'none'){
        const warpedMapLayer = new Allmaps.WarpedMapLayer(annotationUrl);
        warpedMapLayer.addTo(map);

        warpedMapLayer.on('load', () => {
          const bounds = warpedMapLayer.getBounds();
          map.fitBounds(bounds);
        });

        map.invalidateSize();
      }
    });

    observer.observe(geoTab, { attributes: true });
  });
</script>
