<!-- Georeferenced Map -->
<h3 class="h6"><%= t('allmaps.map_heading')%></h3>
<div id="geoblacklight-allmaps-map" data-map-geom="<%= document.geometry.geojson %>" data-allmaps-id="<%= document.sidecar_allmaps.allmaps_id %>"></div>