<!-- Georeferenced Map -->
<h3 class="h6">Georeferenced Map</h3>
<div id="allmaps-map" data-map-geom="<%= document.geometry.geojson %>" style="height: 400px;"></div>

<script src="https://cdn.jsdelivr.net/npm/@allmaps/leaflet/dist/bundled/allmaps-leaflet-1.9.umd.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const element = document.getElementById("allmaps-map");
    const value = element.getAttribute("data-map-geom");
    const layer = L.geoJSON();
    layer.addData(JSON.parse(value));
    const bounds = layer.getBounds();
    const annotationUrl = "https://annotations.allmaps.org/manifests/<%= document.sidecar.allmaps_id %>";
    const warpedMapLayer = new Allmaps.WarpedMapLayer(annotationUrl);
    const geoTab = document.getElementById("georeferenced-tab");
    const map = L.map("allmaps-map");

    // Basemap and Attribution
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
      maxZoom: 18
    }).addTo(map);

    // Fullscreen control
    map.addControl(new L.Control.Fullscreen({
      position: "topright"
    }));

    // Layer opacity control
    map.addControl(new L.Control.LayerOpacity(warpedMapLayer));

    // Leaflet: Multiple maps on the same page is a challenge...
    // 1. Need to watch the page DOM mutate
    // 2. When the georeferenced tab is visible, invalidate the map size
    // 3. Add the WarpedMapLayer to the map
    // 4. Fit the map to the GeoJSON bounds
    const observer = new MutationObserver(function(){
      if(geoTab.style.display !== "none"){
        map.invalidateSize();
        warpedMapLayer.addTo(map);
        map.fitBounds(bounds);
      }
    });

    observer.observe(geoTab, { attributes: true });
  });
</script>
